<div ng-controller="menuCtrl as menu">
	<md-content layout="row" flex class="backcolor">
	<div layout-fill>
		<md-grid-list md-cols="12" class="back-img-result">
		
			<div layout="column" layout-gt-md="row" class="align-xs" layout-wrap>
				
			  <div class="left-logo"><a href="#"><img class="logo-img-main" ng-src="assets/img/logo.png" alt="logo"></a></div>
			  
			  <div class="left-store-image">
				<a href="#" class="store-img"><img class="app-store-img" ng-src="assets/img/app-store.png" alt="App-Store"></a>
				<a href="#" class="store-img"><img class="Google-playstore-img" ng-src="assets/img/google-play.png" alt="Google-Playstore"></a>
				<div class="log-sign">
					<a class="register-text" ng-click="showSignup($event)" href="#">Register Now</a>
					&nbsp;&nbsp; 
					/
					&nbsp;&nbsp; 
					<a class="login-text" ng-click="showCustom($event)" href="#">Sign in</a>
			 	</div>
			  </div>
			  
			</div>
		
			<div layout="row" layout-gt-sm="row" layout-padding>
			  
			  <div flex layout-sm="column">
				
				<div layout="row" layout-align="center">
					
				  
				  <h1 class="main-heading-result"><span><i class="fa fa-cutlery"></i> <br />MENU ITEMS</span></h1>
				</div>
				
				
			  </div>
			  
			</div>
			
		</md-grid-list>
		
		<div layout="row" layout-align="center">
			<div flex-gt-md="80" layout-gt-md="row" layout="column" class="padding-top-20 padding-bottom-20">
				<div flex flex-gt-md="25">
					 <md-list flex class="resultleftlist">
					 	<md-subheader class="md-no-sticky headingsort">Categories</md-subheader>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Starters </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Tandoori Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Biryani Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Chef Recomendations </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Chikken DIshes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Lamb Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Sea Food Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Vegitable Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Balti Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				        </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Side Dishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				         </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Rice and Breads </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				         </md-list-item>
						 <md-list-item>
				          <div class="md-list-item-text">
				            <a href="#"> Relishes </a>
	    					<i class="fa fa-chevron-right"></i>
				          </div>
				         </md-list-item>
			        </md-list>
			    </div>
				<div flex flex-gt-md="50" class="right-col">
					<div layout="row" class="headingbackmenu">
						<span>Starter</span>
					</div>
					<div class="boxdata">
						<div  layout-gt-md="row" layout="column" layout-align="left center" class="backcolor-white margin-top-20 margin-xs-top-20">
						  	<div flex-gt-md="20" class="xs-width-box img-padding">
						  		<img ng-src="assets/img/img1.jpg">
						    </div>
						  	<div flex-gt-md="50" class="xs-width-box centerboxtext">
					              <h4 class="media-heading">Onion Bhaji</h4>
					              <span>The bhajia or bhaji comprises of sliced or chopped ingredients mixed into a batter </span>
						    </div>
						  	<div flex-gt-md="30" class="boxcontentbtn-menu xs-width-box">
			      				<md-button class="md-raised placeorder-btn commonbtn">Select</md-button>
						    </div>
						 </div>
					</div>
					<div class="boxdata">
						<div  layout-gt-md="row" layout="column" layout-align="left center" class="backcolor-white margin-top-20 margin-xs-top-20">
						  	<div flex-gt-md="20" class="xs-width-box img-padding">
						  		<img ng-src="assets/img/img1.jpg">
						    </div>
						  	<div flex-gt-md="50" class="xs-width-box centerboxtext">
					              <h4 class="media-heading">Onion Bhaji</h4>
					              <span>The bhajia or bhaji comprises of sliced or chopped ingredients mixed into a batter </span>
						    </div>
						  	<div flex-gt-md="30" class="boxcontentbtn-menu xs-width-box">
			      				<md-button class="md-raised placeorder-btn commonbtn">Select</md-button>
						    </div>
						 </div>
						
					</div>
					<div class="boxdata">
						<div  layout-gt-md="row" layout="column" layout-align="left center" class="backcolor-white margin-top-20 margin-xs-top-20">
						  	<div flex-gt-md="10" class="xs-width-box img-padding">
						  		<img ng-src="assets/img/img1.jpg">
						    </div>
						  	<div flex-gt-md="50" class="xs-width-box centerboxtext">
					              <h4 class="media-heading">Onion Bhaji</h4>
					              <span>The bhajia or bhaji comprises of sliced or chopped ingredients mixed into a batter </span>
						    </div>
						  	<div flex-gt-md="20" class="boxcontentbtn-menu xs-width-box">
			      				<md-button class="md-raised placeorder-btn commonbtn">Select</md-button>
						    </div>
						 </div>
						
					</div>
					<div class="boxdata">
						<div  layout-gt-md="row" layout="column" layout-align="left center" class="backcolor-white margin-top-20 margin-xs-top-20">
						  	<div flex-gt-md="10" class="xs-width-box img-padding">
						  		<img ng-src="assets/img/img1.jpg">
						    </div>
						  	<div flex-gt-md="50" class="xs-width-box centerboxtext">
					              <h4 class="media-heading">Onion Bhaji</h4>
					              <span>The bhajia or bhaji comprises of sliced or chopped ingredients mixed into a batter </span>
						    </div>
						  	<div flex-gt-md="20" class="boxcontentbtn-menu xs-width-box">
			      				<md-button class="md-raised placeorder-btn commonbtn">Select</md-button>
						    </div>
						 </div>
						
					</div>
					
			    </div>
			    <div flex flex-gt-md="25" class="right-col">
					<div layout="row" class="headingbackmenu">
						<span>Your Cart</span>
					</div>
					<div class="boxdata">
						<div layout="column" class="backcolor-white min-height-right-col">
							<md-radio-group layout="row" class="custom-radio">
							  <md-radio-button value=0 class="md-primary">Collection</md-radio-button>
							  <md-radio-button value=1> Delivery </md-radio-button>
							</md-radio-group>
    						<div layout="row" flex layout-align="center center" class="headers">
						  		<div flex="35">Item</div>
						  		<div flex="15">Qty.</div>
						  		<div flex="40">Action</div>
				  			</div>
						  	<div layout="row" flex layout-align="center center" class="content-rows">
						  		<div flex="35">King Prawn Butterfly</div>
						  		<div flex="15">1</div>
						  		<div flex="40" layout="row">
						  			<md-button class="md-raised blue-btn pad0"><i class="fa fa-plus" aria-hidden="true"></i></md-button>
						  			<md-button class="md-raised red-btn pad0"><i class="fa fa-minus" aria-hidden="true"></i></md-button>
						  		</div>
				  			</div>
				  			<div layout="row" flex layout-align="center center" class="content-rows">
						  		<div flex="35">King Prawn Butterfly</div>
						  		<div flex="15">1</div>
						  		<div flex="40" layout="row">
						  			<md-button class="md-raised blue-btn pad0"><i class="fa fa-plus" aria-hidden="true"></i></md-button>
						  			<md-button class="md-raised red-btn pad0"><i class="fa fa-minus" aria-hidden="true"></i></md-button>
						  		</div>
				  			</div>
				  			<div layout="row" flex layout-align="center center" class="content-rows">
						  		<div flex="35">King Prawn Butterfly</div>
						  		<div flex="15">1</div>
						  		<div flex="40" layout="row">
						  			<md-button class="md-raised blue-btn pad0"><i class="fa fa-plus" aria-hidden="true"></i></md-button>
						  			<md-button class="md-raised red-btn pad0"><i class="fa fa-minus" aria-hidden="true"></i></md-button>
						  		</div>
				  			</div>
				  			<div layout="row" flex layout-align="center center" class="content-rows">
						  		<div flex="35">King Prawn Butterfly</div>
						  		<div flex="15">1</div>
						  		<div flex="40" layout="row">
						  			<md-button class="md-raised blue-btn pad0"><i class="fa fa-plus" aria-hidden="true"></i></md-button>
						  			<md-button class="md-raised red-btn pad0"><i class="fa fa-minus" aria-hidden="true"></i></md-button>
						  		</div>
				  			</div>
				  			<div layout="column"  layout-align="center">
			      				<md-button class="md-raised emptycart-btn">Empty Cart</md-button>
			      				<md-button class="md-raised placeorder-btn generate-price">Generate Price</md-button>
			      			</div>
						 </div>
					</div>
			    </div>
			 </div>
		</div>
	</div>
	</md-content>
		<div ui-view='footer'></div>
</div>
